body
{
	background-image:url(imagens/fundo.png);
	background-repeat:repeat;
	text-align:center
}

div.body
{
	display:inline-block;
	width: 952px;
	border: 1px solid black;
	background-image:url(imagens/fundo_body.png);
	background-repeat:repeat-y;
	float:center;
}

div.header_div
{
	background-image: url(imagens/header_div.png);
	/*height: 100px;*/
	width: 950px;
	margin: auto;
	padding-top: 87px;
	padding-bottom: 87px;
	text-align: center;

	border: 1px solid black;
}

div.menu
{
	width: 950px;
	height: 50px;
	text-align: center;
	word-wrap: break-word;

	border: 1px solid black;
}

ul.menu
{

	float:left;
	vertical-align:middle;
	padding-left: 70px;
}

li.menu
{
	display: inline;
	padding-right: 25px;
	padding-left: 25px;
	padding-bottom:15px;
	padding-top:15px;
	margin:0 -3 0 -3;
	background-image:url(imagens/menu_item.png);
	background-position:top;
	background-repeat:repeat;
}

li.menu:hover
{
	background-position:bottom;
}

div.account_div
{
	float:left;
	background-color: grey;
	height: 500px;
	width: 170px;
	margin: 5 5 5 5;
	word-wrap: break-word;

	border: 1px solid black;
}

div.main
{
	display:inline-block;
	margin: 0;
	width: 760px;
	float:right;
	margin-top:5px;
	margin-right:5px;
	text-align:justify;

	border: 1px solid black;
}

p.erro
{
	text-align: center;
	font-size: 15;
	color: red;
}

img.erro
{
	float: center;
}

input.login
{
	border: 1px solid #006;
	background: #ffc;
}
input.login:hover
{
	background-color:rgba(255,204,0,0.8);
}


input[type="text"],[type="password"]
{
	width:168px;
	margin-bottom:10px;
	background-color:#999;

	float:left;
}

label.registo
{
	width: 130px;
	float:left;
	display:block;
}

div.registo_item
{
	display:block;
	width:590px;
	height:30px;
	float:left;

	border:1px solid black;
}

div.erro_registo
{
	float:left;
	margin-left:10px;
	color:#06F;
	font-weight:bold;
	border: 1px solid black;
}

div.local_paragem
{
	display:block;
	float:left;
	width:280px;
	text-align:left;

	border:1px solid black;
}

div.local_espera
{
	display:block;
	float:right;
	width:280px;
	text-align:left;

	border:1px solid black;
}

div.rodape
{
	display:block;
	float:left;
	background-image: url(imagens/footer_div.png);
	/*height: 100px;*/
	width: 950px;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;

	border: 1px solid black;
}

table.procurar_boleia_inserir
{
	display:block;
	float:left;
	width: 760px;
	border: 1px solid black;
}


table.procurar_boleia_inserir tr td
{
	border: 1px solid black;
}

div.menuEsquerdo
{
	float:left;
	display:block;
	width: 300px;
	height: auto;
	text-align: center;
	word-wrap: break-word;

	border: 1px solid black;
}

div.menuDireito
{
	float:left;
	display:block;
	width: 450px;
	height: auto;
	text-align: center;
	word-wrap: break-word;

	border: 1px solid black;
}

::-webkit-input-placeholder /* WebKit browsers */
{
	color: #333;
}

:-moz-placeholder /* Mozilla Firefox 4 to 18 */
{
	color: #333;
}

::-moz-placeholder /* Mozilla Firefox 19+ */
{
	color: #333;
}

:-ms-input-placeholder /* Internet Explorer 10+ */
{
	color: #333;
}
