p,div,label,li
{
	font:14px verdana,arial,Tahoma, Sans-serif;
}

input
{
	font:13px verdana,arial,Tahoma, Sans-serif;
}

table tr th
{
	color:white;
	font:15px verdana,arial,Tahoma, Sans-serif;
}

table tr td
{
	border:1px solid white;
	font:13px verdana,arial,Tahoma, Sans-serif;
}

/*     ####### FIM FONTS ###########    */

body
{
	background-image:url(imagens/fundo.png);
	background-repeat:repeat;
	text-align:center
}

div.body
{
	display:inline-block;
	width: 952px;
	border: 1px solid white;
	background-image:url(imagens/fundo_body.png);
	background-repeat:repeat-y;
	float:center;
}

div.header_div
{
	background-image: url(imagens/header_div.png);
	/*height: 100px;*/
	width: 950px;
	margin: auto;
	padding-top: 87px;
	padding-bottom: 87px;
	text-align: center;

	border: 1px solid white;
}

div.menu
{
	background-color:#333;
	width: 950px;
	height: 46px;
	text-align: center;
	word-wrap: break-word;

	border: 1px solid white;
}

ul.menu
{
	padding:0 0 0 0;
	float:middle;
	vertical-align:middle;
}

li.menu
{
	text-align:center;
	display: inline;
	padding-right: 25px;
	padding-left: 25px;
	padding-bottom:15px;
	padding-top:14px;
	margin:-0 -3 0 -3;
	color:#DDD;
	font-weight:bold;
	background-color:#333;
	/*background-image:url(imagens/menu_item.png);
	background-position:top;
	background-repeat:repeat;*/
}

li.menu:hover
{
	/*background-position:bottom;*/
	color:#FFF;
	background-color:#C60;
}

div.account_div
{
	float:left;

	min-height:500px;
	height:auto;
	width: 170px;
	margin: 5 5 5 5;
	word-wrap: break-word;

	border: 1px solid white;
}

div.main
{
	display:inline-block;
	margin: 0;
	width: 760px;
	float:right;
	margin-top:5px;
	margin-right:5px;
	text-align:justify;

	border: 1px solid white;
}

p
{
	color:#FFF;
}

p.notificacao
{
	text-align:left;
	height:30px;
	padding:0 0 0 0;
	margin:0 0 0 0;
	font:11px verdana,arial,Tahoma, Sans-serif;
}

p.erro
{
	text-align: center;
	font-size: 15;
	color: red;
	font:11px verdana,arial,Tahoma, Sans-serif;
}

img.erro
{
	float: center;
}

input.login
{
	border: 1px solid #006;
	background: #ffc;
}
input.login:hover
{
	background-color:rgba(255,204,0,0.8);
}


input[type="text"],[type="password"]
{
	width:168px;
	margin-bottom:10px;
	background-color:#999;

	float:left;
}

input.apagar_local
{
	width:15px;
	height:17px;
	margin-bottom:-20px;
	padding:0 0 0 0;
	border:0;
}

label.registo
{
	width: 130px;
	float:left;
	display:block;
}

label.nova_notificacao
{

	float:left;
	display:block;
	width:110px;
	
}

div.registo_item
{
	display:block;
	width:590px;
	height:30px;
	float:left;

	border:1px solid white;
}

div.erro_registo
{
	float:left;
	margin-left:10px;
	color:#06F;
	font-weight:bold;
	border: 1px solid white;
}

/*div.local_paragem
{
	display:block;
	float:left;
	width:280px;
	text-align:left;

	border:1px solid white;
}

div.local_espera
{
	display:block;
	float:right;
	width:280px;
	text-align:left;

	border:1px solid white;
}*/

div.rodape
{
	display:block;
	float:left;
	background-image: url(imagens/footer_div.png);
	/*height: 100px;*/
	width: 950px;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;

	border: 1px solid white;
}

legend
{
	text-align:center;
	color:white;
}

table tr td input
{
	margin-top:10px;
}

table
{
	border-collapse: collapse;
}

table.procurar_boleia_inserir
{
	display:block;
	float:left;
	width: 760px;
	border: 1px solid white;
}


table.procurar_boleia_inserir tr td
{
	border: 1px solid white;
}

table.locais_itinerario
{
	border-collapse: collapse;
}

table.locais_itinerario tr td
{
	border: 1px solid white;
}

table.locais_itinerario tr.itinerario_completo
{
	border: 1px solid white;
	color:white;
}

table.locais_itinerario tr.itinerario_incompleto
{
	border: 1px solid white;
	color:red;
}

table.locais_itinerario tr.itinerario_selecionado
{
	border: 1px solid white;
	color:blue;
}

table.locais_itinerario tr.itinerario_completo:hover
{
	border: 1px solid white;
	color:white;
	background-color:gray;
}

table.locais_itinerario tr.itinerario_incompleto:hover
{
	border: 1px solid white;
	color:red;
	background-color:gray;
}

table.locais_itinerario tr.itinerario_selecionado:hover
{
	border: 1px solid white;
	color:yellow;
	background-color:gray;
}

table.locais_local tr td
{
	color:white;
	border:1px solid white;
}

table.insere_itinerario
{
	margin-left:-8px;
	margin-right:-8px;
}

table.insere_local
{
	margin-left:-8px;
	margin-right:-8px;
}

table.notificacao tr td
{
	border:1px solid white;
}

table.notificacao tr
{
	border: 1px solid white;
	color:white;
}

table.notificacao tr.notificacao_selecionada
{
	border: 1px solid white;
	color:blue;
}

table.notificacao tr:hover
{
	border: 1px solid white;
	color:white;
	background-color:gray;
}

table.notificacao tr.notificacao_selecionada:hover
{
	border: 1px solid white;
	color:yellow;
	background-color:gray;
}

div.menuEsquerdo
{
	float:left;
	display:block;
	width: 300px;
	height: auto;
	text-align: center;
	word-wrap: break-word;

	border: 1px solid white;
}

div.menuDireito
{
	float:left;
	display:block;
	width: 450px;
	height: auto;
	text-align: center;
	word-wrap: break-word;

	border: 1px solid white;
}

div.listaNotificacoes
{
	float:left;
	display:block;
	width: 370px;
	height: auto;
	text-align: center;
	word-wrap: break-word;

	border: 1px solid white;
}

div.notificacao
{
	float:left;
	display:block;
	width: 386px;
	height: auto;
	text-align: center;
	word-wrap: break-word;

	border: 1px solid white;
}

div.menuBoleia_Origem 
{
	float:left;
	display:block;
	width: 285px;
	height: auto;
	text-align: center;
	word-wrap: break-word;
	text-align:center;
	
	border: 1px solid white;
	
}

div.menuBoleia_Destino
{
	float:left;
	display:block;
	width: 285px;
	height: auto;
	text-align: center;
	word-wrap: break-word;
	
	border: 1px solid white;
}

textarea.notificacao
{
	float:left;
	display:block;
	width:400px;
	max-width:400px;
	
	height:200px;
	max-height:200px;
}


::-webkit-input-placeholder /* WebKit browsers */
{
	color: #333;
}

:-moz-placeholder /* Mozilla Firefox 4 to 18 */
{
	color: #333;
}

::-moz-placeholder /* Mozilla Firefox 19+ */
{
	color: #333;
}

:-ms-input-placeholder /* Internet Explorer 10+ */
{
	color: #333;
}
